<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="/images/logo.png">
  </head>
  <body>
  <div class="container">
    <h2><%= title %></h2>
    <p>You have below list of grocery for selection:</p>
    <button type="button" class="btn btn-primary float-right"><i class="fa fa-plus" aria-hidden="true"></i></button>
    <table class="table">
      <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Cost</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody id = "tableData">
      </tbody>
    </table>
    <div id="totalPrice" class="font-weight-bold float-right"></div>
  </div>
  <script src="/javaScripts/groeryList.js"></script>
  </body>
</html>
