<!DOCTYPE html>
<html>
<head>
    <title>Grocery App</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="/images/logo.png">
    <script src="/javaScripts/jquery-3.4.1.slim.min.js"></script>
    <script src="/javaScripts/bootstrap.min.js"></script>


    <script src="/javaScripts/popper.min.js"></script>
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h1> Grocery List </h1>
    </div>
</div>
